<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/agency.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
 <!--    <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
  <!--   <link href="css/agency.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


</head>

<body>
 <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Adventuristas</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#page-top">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#account">Account</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        </div>
        <!-- /.container -->
    </nav>
   <!-- Account Section -->
<div style="background-image:url('/img/watamu.jpg'); background-position: 50% 50%; background-repeat:no-repeat;">  
    <section id="account">
        <div class="container" style="background-color:lightgrey; opacity: 0.9">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><h2 class="section-subheading text-muted">Tell us a little more so we can help you design the best trips as a solo traveler. </h2></p>
                </div>
            </div>
            <p>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form name="sentMessage" id="contactForm" action="/" method="post" novalidate>
                        <div class="row" align="center" style="width: 500px ; margin-left: auto ; margin-right: auto ;">

                        
                            <div class="col-md-6 text-center" align="center" style="width: 500px ; margin-left: auto ; margin-right: auto ;">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your age *" name="age" id="age" required data-validation-required-message="Please enter your age." >
                                    <p class="help-block text-danger"></p>
                                </div>
                                 <div class="form-group">
                                    <input type="city" class="form-control" placeholder="Your current city of residence*" name="city" id="city" required data-validation-required-message="Please enter the name of the city you are currently residing in.">
                                    <p class="help-block text-danger"></p>
                                </div>

                                    <div class="form-group">
                                    <input type="city" class="form-control" placeholder="Where do you want to visit next?*" name="city" id="city" required data-validation-required-message="Please enter the name of the city you are currently residing in.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                    
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Become an adventurista</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>