<!DOCTYPE html>
<html lang="en">

<head>

    <title> Sasa, Nairobi</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/agency.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
 <!--    <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
  <!--   <link href="css/agency.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <!-- Navigation -->
   <nav class="navbar navbar-default navbar-fixed">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top" style="font-size:4em">Adventuristas</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/#page-top">Home</a>
                    </li>
                    <li>
                        <a href="/index/#about">About</a>
                    </li>
                    <li>
                        <a href="/index#account">Account</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Itinerary Details Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Sasa, Nairobi?
                </h1>
                <p><h5><i>By: </i><a href="">Steph</a>
                <p><h4> Impressions: </h4>
                    <div class="panel-body"> Nairobi's generally a pretty bustling city and increasingly seen as the start-up hub of both Kenya and East Africa. Each area has its own personality - Karen is quieter with its lush greenery, Westlands is a hub for nightlife and non-profit staff, whereas Kilimani is the home of most social enterprises. Central Business District, or "tao" as it's colloquially referred to, houses most major government offices and large multinational companies. Food-wise, nyama choma (roasted meat) and coastal dishes are must-haves. </p></h5></div>

                <p><h4> Tips: </h4>
                    <div class="panel-body"><ul>
                    <li> General thoughts on safety: Nairobi, like any other city, has a mix of safe and sometimes dangerous areas. It's important to always be aware of your surroundings, since petty crime and muggings can occur, particularly in crowded areas and at night. Don't walk around with expensive electronics out (of course, cameras are expected and fine when you're on safari at Nairobi National Park). 
                    <li>Cash: Always carry at least 2000 KSH on you. Purchase a local SIM card and set up  MPESA so you have both cash and money on your phone line. 
                    <li>Avoid walking alone at night as a woman. 
                    <li>Transportation: if you're concerned about getting lost on your own, find a trusted taxi driver. Always keep your windows rolled up - especially if you're using any electronic devices. Boda bodas (motorbikes) are a good alternative, but make sure your driver has a helmet. Large buses are reliable and follow the same routes - matatus (smaller van-style buses) can change their routes, which might be confusing.</li></li></li></li></ul> </h5></p></div></div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Day 1</h2>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Daphne Sheldrick Elephant Orphanage</h4>
                    </div>
                    <div class="panel-body">
                        <p>Location: Karen
                        <br>Cost: 500 KSH ($5)
                        <br>Details: Queue up at 10.30am to watch baby elephants being fed at 11am. Great for heading to on your own - get a spot up close so you can pet the baby elephants (but note that you might get mud splashed on you!). </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Purdy Arms</h4>
                    </div>
                    <div class="panel-body">
                        <p>Location: Karen
                        <br>Cost: 1200 KSH ($12)
                        <br>Details: Upscale restaurant (but cheaper than most other options) serving British pub fare, pizza, burgers, and other items. Excellent Swahili fish soup. Popular with families. Pizza + a drink shouldn't set you back more than $12. Great for people watching and as a solo diner, I was left in peace to enjoy my meal. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Giraffe Centre</h4>
                    </div>
                    <div class="panel-body">
                        <p>Location: Karen
                        <br>Cost: 1000 KSH ($10)
                        <br>Details: Feed and "kiss" giraffes. Friendly staff showed me how to feed the pellets to the giraffes and took photos of/ for me. Warthogs running amok as well.</p>
                    </div>
                </div>
            </div>
        </div>


        <h2 class="page-header">Day 2</h2>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Nairobi Railway Museum</h4>
                    </div>
                    <div class="panel-body">
                        <p>Location: Central Business District (CBD)
                        <br>Cost: 400 KSH ($4)
                        <br>Details: Cool railway museum with exhibits on the railroads in Kenya and history of development. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>National Archives</h4>
                    </div>
                    <div class="panel-body">
                        <p>Location: Central Business District (CBD)
                        <br>Cost: 400 KSH ($4)
                        <br>Details: A mix of archaeological pieces and history of Kenyan leadership. Interesting to visit to get a few insights into different ethnic groups of Kenya, ties between Kenyans and the U.S.  
                        <br>Tips: Archives is a pretty busy area because of all the bus stages nearby. Be mindful of your belongings. You might get extra stares if you're visibly foreign - ignore and keep moving. If you're East or Southeast Asian, you might get comments about China - you'll ignore.  
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Malindi Dishes</h4>
                    </div>
                    <div class="panel-body">
                        <p>Location: Gaborone Rd, Central Business District (CBD)
                        <br>Cost: 500 KSH ($5)
                        <br>Details: In case you can't make it to the coast, make sure to visit Malindi Dishes for excellent coastal food. The biryani is particularly good and often sells out by early afternoon. Get the sugar cane juice. Serves halal food. Order your meal, pay, and pick a spot to wait for your meal to be brought to you. Customers generally just eat their meals and move on with their business. </p>
                    </div>
                </div>
            </div>
        </div>    
        <!-- /.row -->


  <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Gallery</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                    <img class="img-responsive img-portfolio img-hover" src="img/babyele.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                    <img class="img-responsive img-portfolio img-hover" src="img/ele2.jpg" alt="">

            </div>
            <div class="col-md-4 col-sm-6">
                    <img class="img-responsive img-portfolio img-hover" src="img/ele3.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                    <img class="img-responsive img-portfolio img-hover" src="img/babygir.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                    <img class="img-responsive img-portfolio img-hover" src="img/turtle.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                    <img class="img-responsive img-portfolio img-hover" src="img/DSC_0409.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
